@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;700&family=Pangolin&display=swap');

header{
  width: 100%;
  height: 50px;
  border: 2px solid var(--opacity-border);
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
}
.headerTime{
  font-size: 24px;
  font-weight: 900;
  color: var(--color-blac);
  cursor: pointer;
  color: var(--color-white);
}
.settings{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.settings li{
  color: var(--color-white);
  list-style: none;
}
.settings li .bi {
  font-size: 24px;
  font-weight: 900;
}
.charge{
  color: var(--color-charge);
}

@media screen and (max-width: 500px) {
  header{
    padding: 5px 5px;
  }
  .headerTime {
    font-size: 20px;
  }
  .settings li .bi {
    font-size: 20px;
  }
}
